[2021-03-19 17:39] weiliw-amz opened #4 "Test Bug report issue"
## Description
test bug report, do not respond

## How to Reproduce?
click on issue and choose bug report

### Steps to reproduce

[code]

(Paste the commands you ran that produced the error.)

1. write bug report
2. submit

## What have you tried to solve it?

1.
2.

## Error message or code output
(Paste the complete error message, including stack trace, or the undesired output that the above sn

[2021-03-19 17:40] weiliw-amz opened #5 "Test feature request issue"
## Description
(A clear and concise description of what the feature is.)
Test feature request, do not respond

## References
- list reference and related literature
- list known implementations
- None

[2021-03-31 17:13] #4 closed, assigned to nobody

[2021-04-20 22:50] #5 closed, assigned to nobody

[2021-05-03 19:13] ghost opened #15 "LOGGER is not used in code for base building?"
## Description
Is there a log file i'm forgetting?

[2021-05-03 23:42] jiong-zhang commented on #15
Currently `LOGGER` is not used in `pecos/core/base.py` but we leave it as is for future usage.

[2021-05-05 17:55] jiong-zhang commented on #15
Closing this issue as there's no further comment.

[2021-05-05 17:55] #15 closed, assigned to nobody

[2021-05-16 13:09] xyan326 opened #17 "Error when installing from .zip file"
## Description
Downloaded from the GitHub folder as a zip file and tried to install on local VE. Does not work and produced the error:
...
AssertionError: This does not appear to be a Git repository.
.....
Command errored out with exit status 1: python.....

## How to Reproduce?
Pip install pecos-mainline.zip

[2021-05-16 22:54] weiliw-amz commented on #17
Hi xyan326, thanks for your interest in PECOS.

Currently(as of release v0.1.0) PECOS's installation needs to be inside a Git repository for obtaining the version information from Git tags.
The git repository folder `.git`, are alongside the distribution from `git clone`, but *not* in the `zip` files, and that's the reason for your error.

Could you please try *one* of the following, and they both

[2021-05-17 18:09] #17 closed, assigned to nobody

[2021-05-17 18:12] xyan326 opened #18 "Examples with text"
## Description
Current example of X and Y only has numeric values. Could you please provide one example where X and Y are both text? Think the paper/method is targeted to solve such problems.

[2021-05-17 20:19] OctoberChang commented on #18
Hi xyan326, thanks for your interest in PECOS.

As of the current version (i.e., PECOS release v0.1.0), we have a example usage of text2text pipeline with XR-Linear of PECOS. You can find the input/output format in this [[README](https://github.com/amzn/pecos/blob/mainline/pecos/apps/text2text/README.md)].

Please let us know if this resolve your issue, thanks.

[2021-05-21 23:16] OctoberChang commented on #18
Closing this issue as there's no further comment.

[2021-05-21 23:16] #18 closed, assigned to nobody

[2021-05-22 03:28] xyan326 commented on #18
Thanks! Able to see the example for the text. Wondering if there is a direct code and data available in the GitHub to directly be used and get the model trained and model prediction and result. Thanks!

[2021-05-24 03:29] xyan326 opened #23 "text example error"
tried to run the following code:
"
python3 -m pecos.apps.text2text.train \
  --input-text-path ./training-data.txt \
  --vectorizer-config-path ./config.json\
  --output-item-path ./output-labels.txt \
  --model-folder ./pecos-text2text-model
"

And got error saying No such file or directory: ' ./config,json'

Can you help?

[2021-05-24 03:45] OctoberChang commented on #23
Hi xyan326,

Yon need to provide the `./config.json` file which specifies the TFIDF vectorizer configuration. You can find a toy example of such file in this README (https://github.com/amzn/pecos/tree/mainline/pecos/utils/featurization/text).

Let us know if you encouter other issue.

[2021-05-24 13:04] xyan326 commented on #23
Thank!
I wonder if there is a consistent code to show a toy example of the text2text?

[2021-05-25 01:31] theejung opened #24 "Validation set split"
Hi,

I am just trying to replicate the benchmark result for Wiki10-31K using xtransformer and xlinear.
I wonder if there is internal step to split train set to validation set. Otherwise, should i pre-process to generate held-out validation set before train it?

Thanks!

[2021-05-25 16:43] jiong-zhang commented on #24
Hi THEEJUNG,

Thanks for your interest. As of now (v0.1.0) there is no built-in step to split input dataset. You need to split your dataset before feeding into PECOS.

[2021-05-25 16:48] theejung commented on #24
Thanks for letting me know! I'll close this issue.

[2021-05-25 16:48] #24 closed, assigned to nobody

[2021-06-23 00:13] OctoberChang commented on #23
Closing this issue, as we updated the Text2Text README with more details.

[2021-06-23 00:13] #23 closed, assigned to nobody

[2021-07-03 18:36] simonhughes22 opened #33 "Text2Text Errors out if label-embed-type is not 'pifa'"
## Description
I am trying to train a text2text model using label embeddings other than just the PIFA embeddings. Ideally i'd like to use tf-idf features computed over the labels, as one of the described options in the paper. When i tried using

[code]

I get the following error, as the code is not passing the Label Feature matrix Z to the label embedding logic

[code]

## How to Reproduce?
Train

[2021-07-04 14:49] simonhughes22 commented on #33
I'd also just like an option to use tf idf embeddings from the labels (on their own). I don't see an option for that in the text2text library (despite the name). I can write this myself using the regular library but it would be awesome if you can add that as an option here, as you clearly experimented with that in the paper.

[2021-07-06 23:45] simonhughes22 opened #34 "I would love support for Cost Sensitive Classification"
## Description
Reading through the code it looks like the base XR linear models support assigning a cost to each data point so that they can be weighted differently, e.g. by miss classification cost. In a search and ranking setting, some labels may be more important than others, e,g. applies are more important than clicks for a job board, or movies watched are more important than movies clicked on

[2021-07-07 19:39] OctoberChang commented on #34
@simonhughes22 , thanks for your interest in PECOS and the usage of cost-sensitive learning!
As of `version=v0.1.0`, we did not support cost-sensitive learning at the high level Python API `HierarchicalMLModel.train` because of three reasons:
(1) How to design a proper relevance matrix `R` is very task-specific; a  poorly-designed `R` may deteriorate performance.
(2) The scale of relevance matrix

[2021-07-08 23:48] simonhughes22 commented on #34
Awesome thanks @OctoberChang.

[2021-07-08 23:48] #34 closed, assigned to OctoberChang

[2021-07-14 19:37] OctoberChang commented on #33
@simonhughes22 , we just added the functionality to support --label-embed-type pifa_lf_concat in the text2text command line interface. Feel free to check it out and let us know if you encouter any issue.

An example usage would be:
[code]

[2021-07-14 19:37] #33 closed, assigned to OctoberChang

[2021-07-16 12:17] Khalid-Usman commented on #18
Can i use the same model to text2Int ?

E.g. I downloaded AmazonCat-13K dataset from [github](https://github.com/yourh/AttentionXML). How can i preprocess it to make npz file so that i can run XR-LINEAR model ?

[2021-07-27 15:58] Khalid-Usman opened #41 "text2text model evaluation not working"
## Description
Model evaluation is not working properly to output the precision and recall

## How to Reproduce?
I run the following line of code,

[code]

where,
--pred-path is the path of file produced during model prediction,
--truth-path is the path of test file, e.g. Out1, Out2, Out3     \t    cheap door
Out1, Out2 and Out3 are the line number in the the following output file
--text-item-path

[2021-07-27 17:51] OctoberChang commented on #41
@Khalid-Usman , from the error message, it seems like the label_id in your `./test.txt` is out of range, which is defined by your provided `./output-labels.txt`.

Can you verify the label_ids in the `./test.txt` is within the range of `./output-labels.txt`?

[2021-07-27 17:54] Khalid-Usman commented on #41
I don't think so , but let me double check ...

Also instead of this i used the following command and get precision / Recall. Is that correct ?

`python3 -m pecos.apps.text2text.evaluate --pred-path ./test-prediction.txt --truth-path ./test.txt `

[2021-07-27 18:38] OctoberChang commented on #41
If `--text-item-path` is not provided, the evaluation script assume your groun truth file `./test.txt` has format 1 (https://github.com/amzn/pecos/blob/mainline/pecos/apps/text2text/evaluate.py#L43). If the label IDs in './test.txt' and './train.txt' are aligned, then should be fine.

[2021-07-28 12:29] Khalid-Usman commented on #41
@OctoberChang I verified , there were few `labels_ids` in `./test.txt` which are greater than the maximum index value of `./output-labels.txt` file. So, I removed those `labels_ids` from `./test.txt` file and still getting the same error.

[2021-07-28 13:57] Khalid-Usman commented on #41
@OctoberChang there is something wrong in the evaluation code.

I tried to debug and for ground-truth items, I found error in the following line "

".

`Y_true = smat.csr_matrix((val_t, (row_id_t, col_id_t)), shape=(num_samples_t, len(item_dict)))`

I printed each variable and got,

[code]

Moreover,

`num_samples_t  =  num_samples_p`

[2021-07-28 17:04] OctoberChang commented on #41
@Khalid-Usman , you should print the `max(col_id_t)` and check if `max(col_id_t) < len(item_dict)`. If not, then this means that your `label_id` still out-of-scope from the pre-defined label set, as specified in your `./output-labels.txt`.

[2021-07-28 20:11] Khalid-Usman commented on #41
@OctoberChang , yes `max(col_id_t) < len(item_dict)` but i found max index in `./output-labels.txt` file and removed all rows from `./test.txt` containing indices greater than max index of `./output-labels.txt`.

So I don't think so, there exist any `label_id` that has no corresponding line number in `./output-labels.txt`.

Thanks, please verify that.

[2021-07-28 20:20] OctoberChang commented on #41
@Khalid-Usman , can you try just evaluating the first line of your prediction `./test-prediction.txt` against the first line of the ground truth `./test.txt` given the pre-defined label set `./output-labels.txt`?

If this still not working, you can share the first line of those two files as well as the `output-labels.txt` with me, and i can take a look perhaps.

[2021-07-29 12:17] Khalid-Usman commented on #41
@OctoberChang what is the score in `./test-prediction.txt` e.g. for my query i got `20` related documents with scores `sorted` in descending w.r.t. `scores`. So these `20` retrieval documents are actually precision for `top-k` (`top-20`) ? Or this score has nothing to do with precision and we have to calculate ourselves by matching these documents with the ground truth ?

[2021-07-29 18:50] OctoberChang commented on #41
the prediction score matrix (i.e., `Y_pred`) from text2text models are not related to the ground truth labels.
In other word, to get precision@k (e.g., a function of `Y_true` and `Y_pred`), you also need to match `Y_pred` with `Y_true`.

[2021-07-30 04:38] wwangwitsel opened #42 "XTransformer Bug: cuda failed"
## Description
There exist some bugs when I run the XTransformer model. I run the training command as instrcucted in https://github.com/amzn/pecos/blob/mainline/pecos/xmc/xtransformer/README.md . However, I meet the bug: "RuntimeError: Expected object of device type cuda but got device type cpu for argument #3 'index' in call to _th_index_select". I use the disable-gpu command and the code can be

[2021-07-30 15:12] jiong-zhang commented on #42
Hi @wwangwitsel , the bug exists in the libpecos-0.1.0 version for single GPU training and it's fixed in this [PR](https://github.com/amzn/pecos/pull/14). The fix will be included in the next release. Meanwhile, you can checkout the latest code and use [Installation from Source](https://github.com/amzn/pecos#installation-from-source) to avoid that.

[2021-07-30 18:11] simonhughes22 commented on #41
I found the recall numbers output by that function to be wildly different from what i was expecting. So i did the calculation myself and got much higher numbers. If a query has 4 labels, and if the top result is in the recall set, for recall@1 do you compute that as 1.0 or 0.25? It could also be that i am having a similar label misalignment issue.

[2021-07-30 20:28] OctoberChang commented on #41
@simonhughes22 , In your example, the Recall@1 should be 0.25 while the Prec@1 is 1.0. See the definition of Prec@k and Recall@k in http://manikvarma.org/downloads/XC/XMLRepository.html#metrics

[2021-08-04 19:03] OctoberChang commented on #41
Closing this issue. Feel free to reopen if you still have any questions related to the text2text evaluation module.

[2021-08-04 19:03] #41 closed, assigned to nobody

[2021-08-04 20:36] jiong-zhang commented on #42
Closing this issue after 5 days. You can reopen it if there are further questions. Thanks.

[2021-08-04 20:36] #42 closed, assigned to jiong-zhang

[2021-09-07 16:00] zusmani opened #50 "Issue with --label-embed-type pifa_lf_concat::Z=${Z_pifa_file}"
## Description
I am trying to use ----label-embed-type parameter in the training and it produces this error.
``` ValueError: Object arrays cannot be loaded when allow_pickle=False ``` - Coming from np.load() function.

I have tested loading of NPZ file for z_labels (compressed and uncompressed, both) it produces this error if allow_pickle=False
I have load data by defining the allow_pickle=True fo

[2021-09-08 22:28] OctoberChang commented on #50
Hi @zusmani ,

Thanks for your interest in PECOS!

For the usage of `--label-embed-type pifa_lf_concat::Z=${Z_pifa_file}`,
the Z_pifa_file should be a `.npz` or `.npy` file storing the label embedding matrix of shape `[L,d]`,
where `L` is the number of labels and `d` is the dimension of label embedding.

Please let me knwo if this address your issue, thanks.

[2021-09-09 16:31] zusmani commented on #50
Hello @OctoberChang

Thank you for getting back to me.
I am performing following step to create npz file
``` np.savez_compressed(z_file_name, L=z_lbl_count, d=z_lbl_str)```
where z_lbl_count contains count of labels in the embedding.
e.g. [2, 1, 3]
z_lbl_str contain label embeddings i.e.
[ss, xx]
[zzz]
[qq, pp, oo]

It still shows the same error, if I try np.load file without providing this parame

[2021-09-12 16:11] zusmani commented on #50
Hey @OctoberChang

I have explored Z.pifa.npz file, available in the test folder and it contains different attributes as described above.
Please let me know how can I make best use of ``` -- label-embed-type``` parameter?

![image](https://user-images.githubusercontent.com/7218916/132994779-39a2d3f3-dcce-4f60-a009-3ba6e7319ff8.png)

[2021-09-12 18:07] OctoberChang commented on #50
@zusmani ,

The `Z.pifa.npz` contains the [scipy sparse csr matrix](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html). You should load it via
[code]

Going back to the usage of `--label-embed-type` in `text2text`:
(1) If you do not have an explicit label embeddings, you can just use pifa as label embeddings
[code]
(2) If you want to use pifa label embeddings concat

[2021-09-15 16:57] zusmani commented on #50
Hi @OctoberChang

I have explicit label embeddings and need to transform into the required format.
It would be ideal if you provide feature/function which takes string type labels embedding text file (like text2text model) and transform into the required format and parse to model computation,.

I am working around it and it is time consuming to understand the relevant pecos code modules/functions

[2021-10-06 00:14] OctoberChang commented on #50
Closing this issue. Feel free to re-open if you still can not have any qustion.

[2021-10-06 00:14] #50 closed, assigned to nobody

[2021-10-27 08:55] arita37 opened #87 "some formatting"
Hi,
Thasnks for this.

Just would like to confirm the format of the input

X : CSR   format x(i,k) = val       Can valx be a float ? does it need to be binary or [0,1] value ?

Y: CSR  format,   y(i,k) = valy   .     does it need to be binary ( 0 or 1) ?

Thx

[2021-10-29 17:46] OctoberChang commented on #87
- `X` is the feature matrix, can be either dense `NPY` format, or sparse `CSR` format.  Yes, the `X(i,j)=val` can take floating point value.
- `Y` is the instance-to-label matrix, should be sparse `CSR` format. Yes, its value should be binary, either 0 and 1.

[2021-10-29 18:16] arita37 commented on #87
Thanks.

Is it preferable to normalize
X(i,j) in the [0,1] space ?
(ie normalization is done manually before)

Thanks

[2021-10-29 18:25] OctoberChang commented on #87
For sparse TFIDF features, we typically do row-wise l2-normalization for the feature matrix `X`.

[2021-11-10 01:01] weiliw-amz commented on #87
Closing this issue due to no further response for 7 days.
If you feel necessary, please re-open this issue for more discussions.

[2021-11-10 03:16] arita37 commented on #87
Thanks for answer.

Just to confirm, if pecos cam handle this case:

X : dense (no sparse) of dimension 5000
Y: sparse of dimension 20 millions

Thanks

[2021-12-01 21:38] ayshtmr opened #99 "Are PECOS models serializable?"
Does PECOS support serializing models to one of the popular serialization formats like ONNX?

[2021-12-07 21:30] rofuyu commented on #99
PECOS models have our own serialization. It does not yet support the ONNX serialization.

[2021-12-07 21:34] rofuyu commented on #87
The scalability of PECOS as of now depends on the memory capacity and the number of CPUs. If you have a machine which can hold the necessary datasets and models, it should be fine. In this paper https://arxiv.org/pdf/2106.12657.pdf, PECOS can be applied to handle datasets of even larger dimension.

[2021-12-10 22:59] OctoberChang commented on #99
closing this issue as there are no additional follow-up.

[2021-12-10 22:59] #99 closed, assigned to nobody

[2021-12-10 22:59] OctoberChang commented on #87
closing this issue as there are no additional follow-up.

[2021-12-10 22:59] #87 closed, assigned to nobody

[2021-12-28 00:01] classicsong opened #102 "How to get the raw feature of paper100M?"
## Description
After downloading ogbn-papers100M.tar.gz, I can only get X.all.xrt-emb.npy and X.all.xrt-emb.sgc.pt. There is no Xall.txt

## References
- list reference and related literature
- list known implementations

[2022-01-03 12:58] elichienxD commented on #102
Hi @classicsong ,

It can be downloaded at OGB's official github repo (at the end of the page):
https://github.com/snap-stanford/ogb/tree/master/examples/nodeproppred/papers100M

Best,
Eli

[2022-01-06 02:14] #102 closed, assigned to nobody

[2022-01-20 20:55] nilesh2797 opened #105 "Minor bug in XR-Transformer run.sh"
https://github.com/amzn/pecos/blob/b01b97afab3de5090c5c5fb8df66854797ef73a9/examples/xr-transformer-neurips21/run.sh#L2

this line should be `data_dir="./xmc-base/${data}/" `?

[2022-01-21 00:10] jiong-zhang commented on #105
Thanks for the catch. This is fixed in https://github.com/amzn/pecos/pull/106

[2022-01-21 00:10] #105 closed, assigned to nobody

[2022-02-23 22:05] xiayandi opened #116 "Switch back to X-Transformer"
## Description
I notice that X-Transformer entry point now is also used by XR-Transformer. Is there a option to choose/decide with algorithm is being used under the hood?

[2022-03-01 00:28] jiong-zhang commented on #116
Hi @xiayandi, the current entry point is only designed for XR-Transformer. If you want X-Transformer, you can use this [repo](https://github.com/OctoberChang/X-Transformer).

[2022-03-01 00:50] xiayandi commented on #116
Thanks!

[2022-03-01 00:50] #116 closed, assigned to nobody

[2022-03-03 14:11] arita37 opened #122 "Format of yt label"
Hello,

hope you are fine, have 2 questions about the format

Question 1
Have one question about optimal format for label Yt.
Is it preferable to have Yt as:

(A)   OneHot encoded with only one  1  per row.
(B)    Mutiple OneHot encode  with mutiple 1 per rows  (as this is the case for Xt).

When the prediction is done, it seems only outputing only  one 1 per row.

Question 2:

   Is there any con

[2022-03-07 16:27] simonhughes22 opened #124 "Add Support for User Supplied Negatives to Text2Text App"
It appears that the regular PECOS library allows you to pass in user supplied negative examples as additional training data. However this does not appear to be exposed in the Text2Text app as far as I can tell from reading the code. Please can you add support for this functionality to the app as well so i can augment a model with additional negative examples?

[2022-03-07 16:30] simonhughes22 opened #125 "Add the Ability to Extract the Cluster Label Tree from the Model"
I cannot see a way to get the model to easily output the full label tree structure. It is stored internally in a series of matrices but it's non trivial to reverse engineer the label tree from that. I'd like to experiment with using the label tree for various tasks, such as training a separate model (so just using PECOS for clustering) or using the clusters themselves as a set of unsupervised feat

[2022-03-08 18:57] jiong-zhang commented on #122
Hi @arita37, generally speaking the label matrix could have arbitrary number of positive per instance. For the combined dense and sparse input, you can concatenate the dense and sparse vectors and view the result as another sparse input ([example](https://github.com/amzn/pecos/blob/mainline/pecos/xmc/xtransformer/matcher.py#L895)).

[2022-03-09 00:35] arita37 commented on #122
Hello Zhang,

   Thanks for confirming.
    Incase of mutiple label y oer instance,
How the top-k results works.
   It seems generating only topk values per instance.

Shouldn’t be
     Topk x Nlabel per instance (?)

ie Suppose the labels can be correlated (ie hiearchy of label per instance).

Thx

[2022-03-09 00:46] jiong-zhang commented on #122
What is N in your question?
For each instance, the prediction will generate top-k out of all the labels in the output space.
For more information, you can refer to section 2.5 of our [paper](https://arxiv.org/pdf/2010.05878.pdf).

[2022-03-09 01:01] arita37 commented on #122
Hello Zhang,
Thx.

Suppose we have
  Ylabel :  5000 samples x 1000 cols

and each instance has 10 labels :
     Count_one(Ylabel[i. :]) == 10
(In the training phase).

In the inference
   Suppose Topk=7

Currently, it outputs 7 “one”
 per  predicted instance…..

Shouldn’t be
     7x10  “ones” per predicted instance

Thanks

[2022-03-09 01:42] arita37 commented on #122
To add on this topic:

Suppose this is related to the
independance of each individuaul ylabel

For one sample,
   Count_One(yi) = 11
   If all the individual labels are independant
        Topk prediction returns topk values
         (ie one individual label per sample

    If all the individual labels have an “forced”
    structure  (ie hiearchy in the individual labels):
         Topk prediction

[2022-03-14 17:58] jiong-zhang commented on #122
When asking the model to predict `only_topk=7`, you should expect the mode to output 7 labels for each input instance (instead of 70).

[2022-03-14 17:58] #122 closed, assigned to nobody

[2022-03-14 18:01] jiong-zhang commented on #124
Hi @simonhughes22 , the `text2text` module is providing wrapper around `xlinear` with minimal functionalities, we currently have no plan to expose this function to text2text. If you would like to use the `usn` feature, it would be as easy to directly use `xlinear`.

[2022-03-14 18:01] #124 closed, assigned to nobody

[2022-03-14 18:08] jiong-zhang commented on #125
Hi @simonhughes22 , you can get the cluster chain rather simply with existing API. For example:
[code]

[2022-03-14 18:08] #125 closed, assigned to nobody

[2022-03-14 22:23] arita37 commented on #122
It means that during training
we can provide more
than 7 labels  per training sample ?

Thanks

[2022-03-22 08:12] Y77GitHub opened #126 "How to use GIANT-XRT model to pre-train my own data"
## Description
(I want to get embedding of each node by using GIANT-XRT model rather than a Bert model,which shows more effecient in the paper  ,and also I have the edges between nodes.I emailed to the author who helped me a lot,I'm very appreciate it.Following are some steps)
- The first step is to prepare the graph, edge_index: This is a 2*|E| tensor which include the information of edges of the

[2022-03-22 21:45] simonhughes22 commented on #125
@jiong-zhang can you explain how to interpret the output of that chain? How does it map to the labels provided?

[2022-03-26 23:53] elichienxD commented on #126
Hi @Y77GitHub,

The file ``X.all.xrt-emb.npy`` is exactly the resulting node features that you can use for downsteam tasks. Note that GIANT is the framework of using graph information to help extracting better node features. XR-Transformer is the SOTA solution for the extreme multilabel classification, which is used in our GIANT framework. Together it is called GIANT-XRT in short. Please read our

[2022-03-28 17:23] jiong-zhang commented on #125
The core part of that chain is a list of sparse matrices and `len(cluster_chain)` is the depth of the tree.

`cluster_chain[t][i,j]=1` means that the i-th node on level (t+1) is a child of j-th node on level t.

For more details please see section 2.1.2 of our [tech doc](https://arxiv.org/pdf/2010.05878.pdf).

[2022-04-06 01:56] theejung opened #131 "Does 'sigmoid' post-processor output predicted probabilities over labels?"
Hi,

I recently run XRTransformer and XRLinear models to benchmark datasets and want to get the predicted probability P(Y_{i}=1|X) of labels. I believe both models are anyway OVA classifiers. Does it mean that I could simply apply a 'sigmoid' post-processor and understand this result as a predicted probability?

Thanks!

[2022-04-06 01:57] theejung commented on #131
I think I put the wrong tag on this. I will close it first and open it again with different tag.

[2022-04-06 01:57] #131 closed, assigned to nobody

[2022-04-06 01:57] theejung opened #132 "Does 'sigmoid' post-processor output predicted probability of labels?"
Hi,

I recently run XRTransformer and XRLinear models to benchmark datasets and want to get the predicted probability P(Y_{i}=1|X) of labels. I believe both models are anyway OVA classifiers. Does it mean that I could simply apply a 'sigmoid' post-processor and understand this result as a predicted probability?

Thanks!

[2022-04-13 11:41] Rejuy opened #133 "Papers100M model requirement"
## Description
Hi!
I'm doing some research with giant's code. I did make use of the embeddings of papers100M and arxiv, as well as the encoder model of the latter one, but it seemed that the encoder model of papers100M is not available right now. I wonder if you could publicize the model (maybe by offering the download method) ? That would be really helpful.
Thx!

[2022-04-13 17:08] #126 closed, assigned to nobody

[2022-04-14 06:41] xiaokening opened #135 "bug of installing from source"
## Description

there is sonme problems when install pecos from source according to readme.md
## How to Reproduce?
python3 -m pip install --editable ./
Obtaining file:///home/workspace/lishengchao/pecos
Requirement already satisfied: scipy>=1.4.1 in /opt/conda/lib/python3.8/site-packages (from libpecos==0.3.0) (1.6.1)
Requirement already satisfied: scikit-learn>=0.24.1 in /opt/conda/lib/python3.8/

[2022-04-14 14:30] jiong-zhang commented on #132
Hi @THEEJUNG, yes you can apply any post-processor function and map the ranking score to (0,1). However, whether the result can be directly interpreted as `p(y|x)` requires further study.

[2022-04-14 14:30] #132 closed, assigned to nobody

[2022-04-15 17:35] weiliw-amz commented on #135
Is your hard disk full? Try `df -h` to see the available spaces in your working directory.
This looks like a hard disk/file system problem to me.

[2022-04-16 07:52] xiaokening commented on #135
I‘m in a docker env Provided by cloud service provider，such as aliyun。
and the result of df -h is here
![image](https://user-images.githubusercontent.com/49867109/163666955-c6290275-2b05-4ccb-bd7f-325bb0ffeb10.png)

[2022-04-17 09:30] xiaokening commented on #135
sorry, this is my problem。the file system of the docker env is obs ，which  is not compatible with pecos。 Now，I have I have solved this problem ，thanks! @weiliw-amz

[2022-04-17 09:30] #135 closed, assigned to nobody

[2022-04-21 09:19] YXWisaboy opened #137 "On MACLR algorithm: How can clustering be applied to the training process of step 1?"
I found that you apply the clustering results to the loss function, but after torch.eq transformation, only a diagonal matrix will be output

[code]

So how can the clustering results be applied to the training process? Is there a code reference？
Hope to get your reply！

[2022-04-21 09:52] YXWisaboy commented on #137
Oh, I know how the clustering results work. That line of code won't get the diagonal matrix when two data correspond to a cluster center.

[2022-04-22 01:44] #137 closed, assigned to nobody

[2022-05-21 18:51] lyy1994 opened #140 "How to Use XR-Transformer in Text2Text App"
## Description
I want to use XR-Transformer in text2text app, following the parameters given [here](https://github.com/amzn/pecos/blob/mainline/examples/xr-transformer-neurips21/params/wiki10-31k/bert/params.json). But setting `--params-path` to this .json file raise the error:
[code]

## References
- [Text2Text API](https://github.com/amzn/pecos/blob/mainline/pecos/apps/text2text/README.md)
- [XR

[2022-05-22 09:56] lyy1994 commented on #140
Another question: if I want to apply PECOS to the XMC problem with Chinese text corpus, what kind of adjustment should I do? Does it support Chinese, e.g., the tf-idf feature extraction?

[2022-05-26 08:47] xiaokening opened #142 "Online Inference Latency for XR-TRANSFORMER"
hi！

When I use XR-TRANSFORMER for predict(per input), the online Inference lattency comes up to 400ms. this is why?

the system I use is ubtuntu18.04, and XR-TRANSFORMER are evaluated on a Nvidia Tesla V100 GPU.

Thanks!

[2022-05-26 16:32] jiong-zhang commented on #140
Hi @lyy1994 , currently text2text only support XR-Linear model. The PECOS TFIDF vectorizer support word level, character level tokenization. For Chinese, you may want to use character level tokenization or insert spaces between Chinese characters and use word level tokenization.

[2022-05-26 16:42] jiong-zhang commented on #142
What model (encoder, output space) are you running inference on? Could you provide sample code how you measure the latency?

[2022-05-27 06:53] xiaokening commented on #142
the encoder is chinese-roberta-wwm-ext,the outspace is 1073 labels。the XR-TRANSFORMER model is embedded in Flask service。the measure method of the online Inference lattency is to send http requeset method-post。the average of  the online Inference lattency of 100 instances is about 420ms。the running env that the Flask service is deployed is a docker container which has 8GPU, 16GB memory, 1 V100  GP

[2022-05-27 17:24] jiong-zhang commented on #142
Could you also look at the inference time on your local GPU machine (without http request)?

[2022-05-28 02:46] lyy1994 commented on #140
Thanks for your reply! If I follow [XR-Transformer](https://github.com/amzn/pecos/tree/mainline/examples/xr-transformer-neurips21) to perform XMC and I have both the text and the extracted visual features (in .npy format), how am I supposed to fuse these multimodal features in XR-Transformer?

[2022-05-28 16:12] xiaokening commented on #142
Sorry, I don't have a a local GPU machine, I can test the online Inference lattency  of XR-TRANSFORMER in a docker conotainer(I think the effect is the same as in a local GPU machine) based on k8s。
there is sample code:
[code]
the average of the online Inference lattency of 100 instances is about 402ms.

[2022-06-06 13:47] cenyk1230 commented on #133
Same question

[2022-06-09 17:08] jiong-zhang commented on #140
XR-Transformer supports both additional dense and sparse features. You can just replace the sparse TF-IDF features [here](https://github.com/amzn/pecos/blob/mainline/examples/xr-transformer-neurips21/train_and_predict.sh#L11) with your dense instance feature. Or you could follow the example [here](https://github.com/amzn/pecos/tree/mainline/pecos/xmc/xtransformer#python-example) (i.e. replace `tra

[2022-06-10 17:39] OctoberChang commented on #133
The encoder for `ogbn-papers100M` dataset are available at [[link](https://archive.org/download/pecos-dataset/giant-xrt/ogbn-papers100M-v2.tar.gz)]. Closing this issue. Feel free to re-open if you encounter any additional issue.

[2022-06-10 17:39] #133 closed, assigned to OctoberChang

[2022-06-13 16:02] #140 closed, assigned to nobody

[2022-06-13 16:07] jiong-zhang commented on #142
Hi @xiaokening , the `XRTransformer.predict` is an API for batch inference (e.g. including dataset construction, batching, logging and etc). You can just `XRTransformer.predict` on the 100 data with `batch_size=1` for an estimation of the realtime inference time. We are planning to enable a realtime inference API for XR-Transformer in later releases. Thanks.

[2022-06-14 09:06] xiaokening commented on #142
Thanks! I have solved this  @problem。@jiong-zhang

[2022-06-14 09:07] #142 closed, assigned to nobody

[2022-06-30 09:36] micrazy opened #150 "Prepare training data"
Hi @jiong-zhang , we're testing pecos on our dataset and we got some problem with preparing training data because our limited labelling capabilities.
So In which case does pecos take better performance?
1. 50000 samples with single label
2. 10000 samples with average 5 labels

Morever,   Is it necessary to fully label each sample？

tks.

[2022-07-01 16:33] jiong-zhang commented on #150
Hi @micrazy, this will depend on what metric/data you use to evaluate your model and the ground truth label distribution of your problem.
It's not necessary to fully label each sample but those un-labeled (sample, label) pairs will be treated as negative observations. However, it is recommended to have at least one positive observations associated with each label (i.e. no empty columns in label ma

[2022-07-04 05:58] micrazy commented on #150
Thank U for your apply @jiong-zhang !
One more question: In paper, we can see  pecos achieves 88.41% p@1 at Eulex-4K dataset , of which   the number of labels is 3956 and  the average number of labels per instance is 5.3

[2022-07-04 05:58] #150 closed, assigned to nobody

[2022-07-27 14:39] celsofranssa opened #155 "Pecos on customized datasets"
Hello,

How to generate the instance-to-feature matrix in [SciPy CSR format](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html) from raw texts?

[2022-07-27 16:52] jiong-zhang commented on #155
Hi @celsofranssa, you can use `pecos.utils.featurization.text.preprocess` module to do that. Here is the [README](https://github.com/amzn/pecos/blob/mainline/pecos/utils/featurization/text/README.md)

[2022-07-28 01:55] celsofranssa commented on #155
Great @jiong-zhang,

However, some questions remain:

1. Is there documentation about the same preprocessing using the `libpecos`?
2. Where could someone find the `config.json` used to preprocess the benchmark datasets (eurlex-4k, wiki10-31k, amazoncat-13k, amazon-670k, wiki-500k, amazon-3m)?
3. Where is the `max_feature` warned in the [README.md](https://github.com/amzn/pecos/tree/mainline/pecos/

[2022-07-28 18:56] celsofranssa opened #157 "Is there at least one example showing how to use Pecos from a plain text dataset?"
It has been difficult to infer how to use the PECOS properly. The usage case is splited over several `README.md` files and through the issues.

Then, could you provide a toy example of an end-to-end approach (using XR-Transformer for instance)?

Consider the following scenario: We have the training and testing samples in plain text

[code]
and someone has to:

1. prepare the data to the accepted f

[2022-07-28 20:18] jiong-zhang commented on #155
* Using the PECOS provided preprocessing module is not required for PECOS model training, you can use any other method to construct the sparse feature, for example the vectorizer provided by [sklearn](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html).
* To reproduce the result from our papers, please refer to the corresponding folders under `pe

[2022-07-28 20:55] hallogameboy commented on #157
Hi,

Thank you very much for the suggestion. We will keep improving documentation for better experiences.

For this moment, we have released the [materials](https://github.com/amzn/pecos/tree/mainline/tutorials/kdd22) for our hands-on tutorial in the incoming KDD 2022.
You can follow the steps in the part Customized PECOS Model in [Session 2](https://github.com/amzn/pecos/blob/mainline/tutorials/k

[2022-07-28 23:38] celsofranssa commented on #157
Thank you very much.
Unfortunately, the linked notebooks are more like a presentation of the Pecos' feature and not how to apply it to predict labels from pure text/labels. Something like an end-to-end pipeline would be fascinating where someone could point the pairs (text, labels) in the training stage and the texts in the prediction stage.

[2022-07-28 23:38] #157 closed, assigned to nobody

[2022-07-29 22:03] celsofranssa opened #158 "How to get the predicted labels as plain text?"
Hello,

After the prediction step in the [XR-Transformer tutorial](https://github.com/amzn/pecos/tree/mainline/pecos/xmc/xtransformer#python-example), how to get the predicted labels as plain text?

Thank you.

[2022-07-29 22:04] celsofranssa commented on #155
@jiong-zhang, thank you.

[2022-07-29 22:17] celsofranssa commented on #155
Is there an approach to archive the same result using Python directly (from libpecos pip package)?

[2022-08-01 00:12] celsofranssa opened #159 "How to set parameters in XR-Transformer training?"
How to set train [params](https://github.com/amzn/pecos/blob/mainline/examples/xr-transformer-neurips21/params/wiki10-31k/bert/params.json) in the provided XR-Transformer [Python example](https://github.com/amzn/pecos/tree/mainline/pecos/xmc/xtransformer#python-example)?

[2022-08-01 13:50] celsofranssa opened #160 "XR-Transformer prediction step"
After training the XTransformer model, I have been trying to generate the predictions as follows:

[code]
however, I end up getting the following error:

[code]
Must `X` and `Xt` have the same number of features?

[2022-08-01 14:51] celsofranssa commented on #159
I was able to set the params using:

[code]

[2022-08-01 14:51] #159 closed, assigned to nobody

[2022-08-01 15:45] celsofranssa commented on #160
Trying to resolve the above error, I ensured that both `X` (training step csr_matrix) and `Xt`  (prediction step csr_matrix) have the same number of features.

However, the following error has now occurred:

[code]

How can I get around this error?

[2022-08-02 12:07] celsofranssa commented on #155
I found an approach using Python (from libpecos) in this [Kdd22 tutorial](https://github.com/amzn/pecos/blob/mainline/tutorials/kdd22/Session%204%20Utilities%20in%20PECOS.ipynb).
It would be interesting if this were documented in some way.

[2022-08-02 12:07] #155 closed, assigned to nobody

[2022-08-08 18:04] soummyaah commented on #157
Hi,

I am facing a similar problem. I am working with a custom dataset but understanding the procedure of generating the csr matrix and other required files in the format required by PECOS or other XMC repositories is proving to be difficult. Any pointers for the same? How do I convert raw text and labels to the required formats?

[2022-08-17 17:21] jiong-zhang commented on #160
Hi @celsofranssa, as the error indicates, your input sparse matrices need to have sorted indices.

[2022-08-17 17:22] jiong-zhang commented on #158
You'll just need to map the indices to the corresponding label text you have.

[2022-08-19 13:29] micrazy opened #172 "Parameter confusion"
Hi @jiong-zhang ,could you please explain more detaily about the difference between 'only_topk' parameter in 'matcher_params_chain' and in 'ranker_params.hlm_args.model_chain' ?

For example, In Eurlex-4K-roberta,  why  is `   "only_topk": 25`  in ranker but `"only_topk": 5` in matcher at bottom level? Should these two parameters be the same ? Or should topK in matcher be larger than in ranker?

t

[2022-08-23 14:36] aCampello opened #174 "Decouple transformer vectorisers from sklearn-based ones"
## Description

Thank you very much for the nice repository. We are currently using XLinear, together with the multi-thread Tfidf vectoriser https://github.com/amzn/pecos/blob/18a1cc56edbabfe73c264200e981e22333998995/pecos/utils/featurization/text/vectorizers.py#L190-L194

It works as a charm. However, with the new transformer vectorisers, to use Tfidf I need to unnecessarily install all transform

[2022-09-01 21:55] jiong-zhang commented on #172
Hi @micrazy , the `only_topk` in `matcher_params_chain` controls the number of MAN clusters during transformer fine-tuning, increasing this value will introduce more negative samples in fine-tuning phase. Similarly the `only_topk` in `ranker_params.hlm_args.model_chain` controls the number of MAN clusters at each level for final linear ranker training.

In the Eurlex-4K case for example, we are in

[2022-09-02 10:58] aCampello commented on #174
Any thoughts by the maintainers? @OctoberChang @weiliw-amz ?

[2022-09-02 16:01] #158 closed, assigned to nobody

[2022-09-02 16:01] #160 closed, assigned to nobody

[2022-09-03 08:24] iDestro opened #177 "Why use tf-idf, not extract through bert？"
NODE FEATURE EXTRACTION BY SELF-SUPERVISED MULTI-SCALE NEIGHBORHOOD PREDICTION

[2022-09-14 07:49] #177 closed, assigned to nobody

[2022-09-19 21:46] OctoberChang commented on #174
@aCampello , as suggested, we decoupled the `vectorizer.py` to contain only tf-idf based vectorizers.

[2022-09-19 21:46] #174 closed, assigned to nobody

[2022-09-26 23:18] #172 closed, assigned to nobody

[2022-11-23 14:42] celsofranssa opened #184 "Libpecos on Ubuntu 22.04 with Python 3.10"
Is there any alternative to use libpecos in an environment with python 3.10 on ubuntu 22.04?

[2022-11-24 00:29] weiliw-amz commented on #184
For now, you could install `libpecos` from **source** with python 3.10 on ubuntu 22.04 in following way:

[code]

Unittest OK:
[code]

Currently we do not have prebuilt wheel for python3.10 at the moment, but will enable in the future.

[2022-11-24 14:38] celsofranssa commented on #184
Thank you.

[2022-11-24 14:38] #184 closed, assigned to nobody